# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail:
# https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for
# PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: 
# https://pris.ly/d/connection-strings

DATABASE_URL="postgres://USER:PASSWORD@localhost:5432/URL?schema=public"
DISCORD_TOKEN="YOUR_TOKEN"
DISCORD_CLIENT_ID="YOUR_CLIENT_ID"
DISCORD_AUTH_URL="URL_FOR_AUTH"
TELEGRAM_TOKEN="YOUR_TOKEN"
REDISCLOUD_URL="URL_TO_REDIS_SERVER"
IMG_UPLOAD_API_KEY="key"
#WEB
SESSION_SECRET="Very secret"
COOKIE_MAX_AGE="2592000000" #30 days
#Uptime Robot
UPTIME_URL="https://stats.uptimerobot.com/api/getMonitorList/VV5VMf2r0Y"
