// Stats period selector
if canFilter
    form#filterForm(method="get" action="")
        .row.mb-3
            .col-md-3
                label.form-label(for="period") Period:
                select#period.form-select(name="period")
                    each option in periods
                        option(
                            value=option.value
                            selected=option.value === period
                        ) #{option.label}
            .col-md-1.align-self-end
                button.btn.btn-primary(type="submit") Apply
