footer.fixed-bottom.border-top
    div.p-3.bg-dark.bg-gradient.d-flex.justify-content-center
        - const currentYear = new Date().getFullYear()
        span.text-light &copy; #{currentYear} @tortunbator


