extends layout

block content
  div.container
    h3.text-center.text-primary= title
    figure.figure
      canvas#messagesChart
  script(src="/static/vendor/chart.js")
  script(src="/static/dashboard.js")



