extends layout

block content
  div.container
    // Page Title
    h3.text-center.text-primary.mt-4.mb-5 Dashboard

    include includes/datepicker.pug

    // Chart Section for Messages
    div
      // Loading Spinner for Messages Chart
      div#loadingSpinner.d-flex.justify-content-center.align-items-center(style="height: 300px; display: flex;")
        div.spinner-border.text-primary(role="status")
      // Canvas for Messages Chart
      canvas#messagesChart(style="height: 300px; width: 100%; display: none;")

    div.dashboard-leaderboards
      section.leaderboard-panel.leaderboard-panel-commands
        div.leaderboard-header
          div.leaderboard-title-group
            span.leaderboard-icon(aria-hidden="true")
              svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M4 7h16")
                path(d="M4 12h10")
                path(d="M4 17h7")
            h4.leaderboard-title Top 100 Commands
          span.leaderboard-kicker Live ranking
        div.leaderboard-table-wrap
          table.leaderboard-table
            thead
              tr
                th.leaderboard-rank-col(scope='col') #
                th(scope='col') Command
                th.leaderboard-count-col(scope='col') Count
            tbody#topMessages

      section.leaderboard-panel.leaderboard-panel-users
        div.leaderboard-header
          div.leaderboard-title-group
            span.leaderboard-icon(aria-hidden="true")
              svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2")
                circle(cx="9" cy="7" r="4")
                path(d="M22 21v-2a4 4 0 0 0-3-3.87")
                path(d="M16 3.13a4 4 0 0 1 0 7.75")
            h4.leaderboard-title Top 100 Users
          span.leaderboard-kicker Most active
        div.leaderboard-table-wrap
          table.leaderboard-table
            thead
              tr
                th.leaderboard-rank-col(scope='col') #
                th(scope='col') User
                th.leaderboard-count-col(scope='col') Commands
            tbody#topUsers
  .my-5
  p &nbsp;
  p &nbsp;

  script(src="/static/vendor/chart.js")
  script(src="/static/dashboard.js")


