doctype html
html
  head
    title= title
  body
    header
      h1= title
    main
      section.content
        p= message
        p You can add more content here.
    footer
      p Copyright © 2024 My Website. All rights reserved.
