extends layout

block content
  div.container
    h3.text-center.text-primary= title
    div
      canvas#messagesChart(style="height: 300px; width: 100%")
  script(src="/static/vendor/chart.js")
  script(src="/static/dashboard.js")



