extends layout

block content

  p.h2.text-primary.text-center= title + '(' + messages.length + ')'

  table.table.table-dark.table-striped.table-hover
    thead
      tr
        th(scope='col') Date and Time
        th(scope='col') User
        th(scope='col') Message

    tbody
      each message in messages
        tr
          td #{message.createdAt}
          td #{message.author.name}
          td #{message.content}

  p &nbsp;
  p &nbsp;



