extends layout

block content

  p.h2.text-primary.text-center= title + '(' + synonyms.length + ')'

  table.table.table-dark.table-striped.table-hover
    thead
      tr
        th(scope='col') Key
        th(scope='col') Value
    tbody
      each synonym in synonyms
        tr
          each value in synonym
            if value !== synonym.id
              td= value
  p &nbsp;
  p &nbsp;
